.hero-header-home {
   width: 100%;
   height: 70vh;
   background-image: url(http://res.cloudinary.com/closecl/image/upload/c_scale,h_700/v1480866156/15321528_10154234526424952_225017150_o_jacpmn.jpg);
   background-size: cover;
   background-position: center;
   margin-top: 90px;

   .tagline{
     font-size:15px;
     color: white;
   }

}

 .inner-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  margin: 0 auto;
  text-align:center;
}

.hero-header-home p {
  display: inline-block;
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  color: #fff;
  @media only screen and (max-width: 465px) {
    position: relative;
    top: -0.4em;
    font-size:1em;
  }
}
